<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inhouse Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>In‑House Part Detail</h1>
<form th:action="@{/inhouse/add}" th:object="${inhousePart}" method="post">

    <!-- Hidden ID for updates -->
    <input type="hidden" th:field="*{id}" />

    <!-- Name -->
    <p>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </p>

    <!-- Price -->
    <p>
        <input type="number" step="0.01" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4"/>
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>
    </p>

    <!-- Inventory -->
    <p>
        <input type="number" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/>
        <span th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</span>
    </p>

    <!-- Min Inventory -->
    <p>
        <input type="number" th:field="*{minInv}" placeholder="Min Inventory" class="form-control mb-4 col-4"/>
        <span th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}">Min Inventory Error</span>
    </p>

    <!-- Max Inventory -->
    <p>
        <input type="number" th:field="*{maxInv}" placeholder="Max Inventory" class="form-control mb-4 col-4"/>
        <span th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}">Max Inventory Error</span>
    </p>

    <!-- Machine ID -->
    <p>
        <input type="number" th:field="*{partId}" placeholder="Machine ID" class="form-control mb-4 col-4"/>
        <span th:if="${#fields.hasErrors('partId')}" th:errors="*{partId}">Machine ID Error</span>
    </p>

    <!-- Submit -->
    <p>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </p>
</form>

<a th:href="@{/parts}">Back to Main Screen</a>
</body>
</html>
